Requirement 1: Garden Management

Description:
    The "Garden Management" feature offers automated and manual control of garden elements, including irrigation and external lighting
    
Specification:
    1. Irrigation Management
    2. External Lighting Management
    3. Environmental Sensor Monitoring
    4. Gate Management

Requirement 2: Scenario Automation Management

Description:
    The "Scenario Automation Management" feature allows users to define and activate predefined scenarios that combine different actions 
    of automation in response to specific situations or activities

Specification:
    1. Creation of Custom Scenarios
    2. Scheduled Activation
    3. Integration with Smart Devices

Requirement 3: Security Management

Description:
    The "Security Management" feature ensures home security through monitoring systems and smart alarms

Specification:
    1. Video Surveillance and Motion Sensor
    2. Alarm Notifications
    3. Emergency Management
    4. Security Check
    5. Security Recap


Requirement 4: Temperature Management

Description:
    The "Temperature Management" function provides automatic and manual temperature control

Specification:
    1. Temperature Management
    2. Remote Control
    3. Time Schedule
    4. Temperature Tracking
    5. Appliance Usage


Requirement 5: Daily Recap

Description: Provision of detailed event history for viewing recent activities

Specification:
    1. Recap
    2. Analysis 


Requirement 6: Devices Management

Description:
    Customizable and modifiable Management of appliances and lights, including turning on, turning off, and 
    adjusting intensities and usage customizations

Specification:
    1. Turn on   
    2. Turn off
    3. Adjusting Intensities
    4. Time Schedule


Requirement 7: Lighting Requirement
    1. Light Management
    2. Shutter Management
